.divMae{
  flex: 1;
  flex-direction: column;
  display: flex;
}

.navigationBar{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  height: 4vh;
  background-color: #4C5B5C;
}

.navigationText{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #F1F9F4;
  font-size: 18px;
  margin-left: 10px;
  margin-right: 30px;
  transition: 0.2s;
  cursor: pointer;
}
.navigationText:hover{
  color: #1C2222;
}
.navigationIcon{
  cursor: pointer;
  margin-left: 10px;
  margin-right: 30px;
  color: #F1F9F4;
  transition: 0.2s;
}
.navigationIcon:hover{
  color: #1C2222;
}

.content{
  width: 100vw;
  height: 46vh;
  background-image: url("../images/image\ 1.png");
  background-size: 100% 100%;
  align-items: center;
  display: flex;
}

.homeText{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: left;
  font-size: 35px;
  width: 30vw;
  color: #F1F9F4;
  margin-left: 70px;
}

.infoBoxAdjust{
  flex-direction: row;
  display: flex;
}

.sobreInfoBox{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #4C5B5C;
  width: 33.33vw;
  height: 50vh;
}
.virusIcon{
  color: #F1F9F4;
  margin-left: 60px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.sobreTitle{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  margin-bottom: 10px;
  margin-left: 60px;
  color: #F1F9F4;
}
.sobreText{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  margin-left: 60px;
  color: #F1F9F4;
}

.cuidadosInfoBox{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #374343;
  width: 33.33vw;
  height: 50vh;
}
.cuidadosIcon{
  color: #F1F9F4;
  margin-left: 60px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.cuidadosTitle{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  margin-bottom: 10px;
  margin-left: 60px;
  color: #F1F9F4;
}
.cuidadosText{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  margin-left: 60px;
  color: #F1F9F4;
}

.sintomasInfoBox{
  background-color: #1C2222;
  width: 33.33vw;
  height: 50vh;
}
.sintomasIcon{
  color: #F1F9F4;
  margin-left: 60px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.sintomasTitle{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  margin-bottom: 10px;
  margin-left: 60px;
  color: #F1F9F4;
}
.sintomasText{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  margin-left: 60px;
  color: #F1F9F4;
}

.sobreBackground{
  background-image: url("../images/image\ 2.png");
  width: 100vw;
  height: 96vh;
  background-size: 100% 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.cuidadosBackground{
  background-image: url("../images/Rectangle\ 15.png");
  width: 100vw;
  height: 96vh;
  background-size: 100% 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.sintomasBackground{
  background-image: url("../images/image\ 3.png");
  width: 100vw;
  height: 96vh;
  background-size: 100% 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.sobreAdjust{
  align-items: center;
  flex-direction: row;
  display: flex;
}

.sobre{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 35px;
  color: #F1F9F4;
  width: 57vw;
  margin-left: 10px;
  font-weight: lighter;
}

.sobreTextBox{
  opacity: 80%;
  flex-direction: column;
  background-color: #F1F9F4;
  width: 60vw;
  height: 50vh;
  display: flex;
}
.sobreTitleBox{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 28px;
  margin-bottom: 10px;
  color: #374343;
  margin-left: 20px;
  margin-top: 40px;
  font-weight: 350;
}
.sobreText2{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  width: 30vw;
  color: #374343;
  margin-left: 20px;
  font-weight: 350;
}

.fotoDePerfil{
  cursor: pointer;
  background-image: url("../images/image-removebg-preview.png");
  width: 2vw;
  height: 4vh;
  background-size: 100% 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.perfilBackground{
  background-image: url("../images/WhatsApp\ Image\ 2021-03-17\ at\ 19.26.31.jpeg");
  width: 100vw;
  height: 96vh;
  background-size: 100% 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

/*keyframes*/